# ignore everything unrelated to the source code
.vscode
benchmarks/
docs/
lib/
script/
test/
.gitattributes
appveyor.yml
tsconfig.json
.yarnrc
vendor/
yarn-error.log
*.tgz

# just include these specific artifacts
# everything else should be compiled by the client
!dist/lib/*
